Source: libint-github
Priority: optional
Maintainer: Katsuhiko Nishimra <ktns.87@gmail.com>
Build-Depends: debhelper (>= 9), autoconf (>= 2.57), automake, autotools-dev,
               quilt, g++ (>= 4.7) | clang-3.7 | clang-3.6 | clang-3.5 |
               clang-3.4 | clang-3.3 | c++-compiler,
               libboost1.57-dev | libboost1.55-dev | libboost-dev, libgmp-dev
Standards-Version: 3.9.6
Section: science
Homepage: https://github.com/evaleev/libint
X-Vcs-Git-Upstream: git://github.com/evaleev/libint

Package: libint2-beta2-dev
Provides: libint-dev
Conflicts: libint-dev
Section: libdevel
Architecture: any
Depends: libint2-beta2 (= ${binary:Version}), ${misc:Depends}
Description: Libint computes molecular integrals 
 Libint is a software stack for
 computing integrals used in
 molecular quantum mechanics.

Package: libint2-beta2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libint computes molecular integrals
 Libint is a software stack for
 computing integrals used in
 molecular quantum mechanics.
