Source: libint-github
Priority: optional
Maintainer: Katsuhiko Nishimra <ktns.87@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/libint.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/libint.git;a=summary

Package: libint-dev
Section: libdevel
Architecture: any
Depends: libintBROKEN (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libintBROKEN
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
